/* 
* selector Tag
? body, html
*/

*,
*::after,
*::before {
	box-sizing: border-box;
	/* ! margin: 0; */
	/* ! padding: 0; */
}

html,
body {
	height: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #333;
}

/* h1 {
	color: red;
}

p {
	font-size: 30px;
} */

/* 
* selector ID
*/
#page-title {
	color: darkslateblue;
}

/* 
* selector class
*/
/* .text {
	font-weight: 700;
}

.text--accent {
	color: blue;
} */

/* div > .text {
	text-decoration: line-through;
}

.text.text--accent {
} */

/* div .text.text--accent {
	color: brown;
} */

/* 
* selector attribute
*/
/* [class] {
	text-transform: capitalize;
} */

/* ? OUR STYLE */
/* .ff-montserrat {
	font-family: "Montserrat", sans-serif;
} */

.text {
	font-weight: 700;
	line-height: 150%;
}

.text--accent {
	color: blue;
}

/* #home-about-title {
	color: darkslateblue;
} */

/* h2.block-title {
	color: crimson;
} */

.block-title {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	text-transform: uppercase;
	/* color: coral !important; */
	color: coral;
}

.block-title--h2 {
	color: crimson;
}

.home-about__title {
	color: darkslateblue;
	margin-top: 40px;
	text-align: center;
}
/* article .block-title span {
	color: aqua !important;
	color: aqua;
} */
.block-title__accent {
	color: aqua;
}

article {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #000;

	& .block-title__accent {
		color: darkorange;
	}
}

/* article .block-title__accent {
	color: red;
} */

.home-review__text {
	font-weight: 700;
	font-size: 18px;
}

b {
	font-weight: 500;
	font-size: 21px;
	line-height: 150%;
	color: #161616;
}
/* 
* пріорітет - порядок написання стилів (згори вниз)

*/

/* 
* специфічність або вага - умовна одиниця ваги селектору

* tag, pseudoelem - 1
* class, pseudoclass, attribute - 10
* id - 100
* inline-styles (attr style) - 1000
! !important - 10000
*/
