*,
*::after,
*::before {
	box-sizing: border-box;
}
.page__body{
    margin: 0;
  font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    display: inline-block;
    margin-left: 190px;
    vertical-align: top;
}

.nav-list {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav-link{
    font-weight: 400;
font-size: 18px;
line-height: 135%;
color: #000;
transition: 0.7s ;
}


.nav-link:hover{
    color: #00bdc9;
}
/* ============================================================= */
.block-img{
    height: 552px;
    background: #00bdc9;
    background-image: url(../img/Frame.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* ================================================ */
.content-container{
    max-width: 856px;
    margin: 0 auto;
    padding-top: 88px;
    padding-bottom: 88px;
}
.content-title{
    font-weight: 600;
font-size: 48px;
line-height: 135%;
text-align: center;
color: #000;
margin: 0;

}
.text-container{
    margin-top: 40px;
    margin-bottom: 40px;
}
.content-text{
    font-weight: 500;
font-size: 21px;
line-height: 150%;
color: #161616;
}
.accent{
    font-weight: 600;
color: #04959e;
}
.content-list{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #161616;
}
.btn{
    display: block;
    padding: 10px 24px;
width: 145px;
height: 44px;
background-color: #04959e;
border: none;
margin: 0 auto;
font-weight: 400;
font-size: 18px;
line-height: 135%;
color: #fff;
transition: 0.7s 
}
.btn:hover{
background-color: #02666d;
}

/* =========================================== */
.page-footer {
    border-block-start: 1px solid #000;
    
}
.footer-text{
    text-align: center;
}